#newTask
	h4 新建任务
	form#addTask(action="/task/add")
		input#taskname(type="text",name="taskname",placeholder="输入任务名称")
		button#submit.btn.btn-primary(type="submit") 确 定

script
	KISSY.ready(function(){
		var S = KISSY,
			E = S.Event,
			D = S.DOM,
			IO = S.IO;
		E.on('#addTask','submit',function(e){
			e.halt();
			IO.getScript("/task/create?taskname=" + D.get("#taskname").value + "&callback=addTaskHandler");
		})
	});
	function addTaskHandler(result){
		if(result.state === "success"){
			alert("新建成功！");
			location.href="/task"
		}else{
			alert(result.msg);
		}
	}
