extends ../layout/frame
block content
	.container
		.page-header
			h1 DEF 配置
		
		.tabbable
			ul.nav.nav-tabs
				li.active
					a(href="#tab1",data-toggle="tab") 基础配置
				li
					a(href="#tab2",data-toggle="tab") vmarket
				li
					a(href="#tab3",data-toggle="tab") abc

			.tab-content
				#tab1.tab-pane.active
					form#rootSetting.form-horizontal(action="/setting/saveRoot")
						.control-group
							label.control-label(for="rootdir") DEF根目录
							.controls
								input#rootDir(type="text",name="rootDir",value="#{root}",placeholder="D:\\\\FIDE(window) or /FIDE(linux)")
						.control-group
							.controls
								button.btn(type="submit") 确定
				#tab2.tab-pane
					iframe.plugin-setting(src="http://localhost:8002/setting")
				#tab3.tab-pane
					a(href="/plugin/install")iframe.plugin-setting(src="http://localhost:8002/setting")	
	script(src="/static/kissy-min.js")
	script
		KISSY.ready(function(){
			var S = KISSY,
				E = S.Event,
				D = S.DOM,
				IO = S.IO;
			E.on('#rootSetting','submit',function(e){
				e.halt();
				IO.getScript("/setting/saveRoot?rootDir=" + D.get("#rootDir").value + "&callback=saveRootHandler");
			})
		});
		function saveRootHandler(result){
			if(result.state === "success"){
				alert("设置成功");
			}else{
				alert(result.msg);
			}
		}
		
